.header {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: rgba($color: #ffffff, $alpha: 0.5);
  border-radius: 50px;
  width: 90%;
  margin: 5px 5%;
  @media all and (min-width: 768px) {
    background-color: rgba($color: #ffffff, $alpha: 0);
  }
  &__logo {
    width: 100%;
    @media all and (min-width: 768px) {
      width: initial;
    }
  }
}

.main__apiError {
  color: #fefd7c;
  font-weight: bold;
  background-color: #5dddd2;
  padding: 5px;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  width: 90%;
}

.main__loading {
  width: 60%;
}
