* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style-type: none;
  font-family: "Architects Daughter", cursive;
}

body {
  background-image: url("./images/background.jpg");
  background-repeat: repeat-y;
  background-size: contain;
  width: 100%;
}
